# Environment variable management
python-dotenv

# Amazon Web Services (AWS) SDK for Python
boto3

# For data manipulation and analysis
pandas

# For data visualization
matplotlib
seaborn
fastparquet

# Tableau Server Client (TSC) Python Library
tableauserverclient
